    body {
      font-family: Arial, sans-serif;
      background: #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container {
      background: white;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      width: 500px;
      margin-top: 20px;
      box-shadow: #ffff 0px 0px 3px 3px;
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    .input-section {
      display: flex;
      gap: 10px;
    }

    input {
      flex: 1;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    button {
      padding: 8px 12px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 14px;
      background-color: #44e94a;
      color: #ffff;
      font-weight: 300;
    }

    .add-btn {
      background: #4caf50;
      color: white;
    }

    .add-btn:hover {
      background: #43a047;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 20px;
    }

    li {
      background: #f9f9f9;
      margin-bottom: 10px;
      padding: 10px;
      border-radius: 6px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .actions button {
      margin-left: 5px;
      font-size: 12px;
      padding: 5px 8px;
    }

    .delete-btn {
      background: #e53935;
      color: white;
    }

    .delete-btn:hover {
      background: #d32f2f;
    }

    .edit-btn {
      background: #039be5;
      color: white;
      padding: 5px;
    }

    .edit-btn:hover {
      background: #0288d1;
    }

    @media screen and (max-width:634px) {
      .container {
        width: 300px;
        height: 500px;
        margin-top: 40px;
      }

      li {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .delete-btn {
        right: 20px;
        gap: 10px;


      }


    }
